.users-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/svgs/main-bg.svg');
  background-size: cover;
}

.ant-modal-body {
  background-color: gray;
}

.ant-modal-header, .ant-modal-footer {
  background-color: rgb(5, 145, 145) !important;
}

svg {
  color: #fff !important;
}

input {
  border-radius: 8px !important;
}

img {
  width: 70px;
  height: 70px;
}

.ant-btn {
  border-radius: 8px !important;
}

.ant-btn:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.ant-btn-primary {
  background-color: rgb(63, 63, 63) !important;
}

.ant-modal-title {
  color: white !important;
}

.users-table__name-tag {
  color: black;
}

.users-table__name-tag:hover {
  color: black;
  font-weight: bold;
}

.users-table__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateY(-60px);
}

.users-table__main-content__button {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 1rem;
}

.users-table__main-content__button__item {
  border-radius: 12px !important;
  background-color: aqua !important;
  color: black !important;
}

.users-table__table {
  border-radius: 12px;
  color: black;
  background-color: rgb(216, 206, 216);
}

.table-padding {
  padding: 0 15px;
}